
@font-face {
    font-family:"Holiday";
    src: url("fonts/HolidayFree.otf") format("opentype");
}

@font-face {
    font-family:"TheSeasonsRegular";
    src: url("fonts/SeasonSerif-TRIAL-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SfProFont";
  src: url("fonts/SFPRODISPLAYREGULAR.OTF")
}

@font-face {
  font-family: "SfProFontBold";
  src: url("fonts/SFPRODISPLAYBOLD.OTF")
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
    opacity: 1;
}
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#welcome {
    height: 100vh;
    width: 100vw;
    background-color: #100f10;
    background-image: 
        radial-gradient(circle at right bottom, #070707 0%, transparent 100%),
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='grain'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='6' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23grain)' opacity='0.20'/%3E%3C/svg%3E");
    background-size: cover, 200px 200px, 60px 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.welcomeNote {
  font-family: "SfProFont";
  font-size: 15px;
  color:#5f5f5c;
}

.shackName{
  font-family: "SfProFontBold";
  font-size: 50px;
  color: #fffaed; 
}


#enterShack {
  height: 80px;
  width: 80px;

  font-size: 50px;
  font-family: "TheSeasonsRegular";

  align-self: center;

  border-radius: 50%;
  border: none;
  background-color: #fffaed;
}


#enterShack:hover {
transition: transform 0.5s ease-in-out, 0.4s ease-in-out;
  transform: scale(1.1);
  background-color: #D4547A;
  color: #fffaed;
}

/*HOMESCREEN*/
#homescreen {
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


#map-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 0;
}


#left-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, rgba(8, 8, 8, 0.845) 70%, transparent 100%);
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow-y: auto;
}

#clock {
  font-family: "SfProFont";
  color:#fffaed;
  margin-left: 50px;
  font-size: 12px;
  margin-top: 30px;
}


#clock::before {
  content: ' ';
  position: absolute;
  left: 0; top: 0; bottom: 0;
  width: 5px;
  background: #D4547A;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

#clock:hover::before {
  transform: scaleY(1);
  padding-left: "clock" 1.5rem;
}

#clock:hover {
  padding-left: 1rem;
  color:#D4547A;
}


.project-astraea {
  font-family: "SfProFont";
  font-size: 15px;
  color:#5f5f5c;
  margin-left: 50px;
  margin-top: 140px;
}

.learn-transatlantically {
  font-family: "SfProFont";
  font-size: 20px;
  color:#5f5f5c;
  margin-left: 50px;
}

#greeting {
  font-family: "SfProFontBold";
  font-size: 50px;
  color: #fffaed; 
  margin-left: 50px;

}


.session-card {
  max-width: 25vw;
  font-size: 15px;
  height: 30px;
  font-family: "SfProFont";
  border: none;
  background-color: #070707;
  border-radius: 50px;
  color:#fffaed;
  padding-left: 16px;
  align-content: center;
  margin-left: 50px;
  transition: 0.4s ease-in-out;
}

.session-card:hover {
  max-width: 25vw;
  font-size: 15px;
  height: 30px;
  font-family: "SfProFont";
  border: none;
  background-color: #D4547A;
  border-radius: 50px;
  color:#fffaed;
  padding-left: 16px;
  align-content: center;
  margin-left: 50px;
}

.removeCard{
  height: 20px;
  width: 20px;
  margin-left: 16px;
  align-content: center;
  border: none;
  border-radius: 50px;
  background-color: #fffaed;
  color:#070707;
  font-size: 10px;
  font-family: "SfProFont";
  transition: 0.4s ease-in-out;
}

.removeCard:hover{
  height: 20px;
  width: 20px;
  margin-left: 16px;
  align-content: center;
  border: none;
  border-radius: 50px;
  background-color: #070707;
  color:#fffaed;
  font-size: 10px;
  font-family: "SfProFont";
}

#new-chat-button {
  height: 80px;
  width: 80px;

  font-size: 50px;
  font-family: "TheSeasonsRegular";

  align-self: flex-start;
  margin-left: 50px;

  border-radius: 50%;
  border: none;
  background-color: #fffaed;
}


#new-chat-button:hover {
transition: transform 0.5s ease-in-out, 0.4s ease-in-out;
  transform: scale(1.1);
  background-color: #D4547A;
  color: #fffaed;
}

.greeting-message {
  font-family: "SfProFont";
  font-size: 12px;
  margin-right: 50px;
  color:#7a7a76;
  padding-left: 0;
  transition: background-color 0.4s ease-in-out, padding-left 0.4s ease;
}

.greeting-message:hover {
    color:#fffaed;
}

.start-your-journey {
  font-family: "SfProFontBold";
  font-size: 12px;
  color: #D4547A;
  padding-left: 0;
  transition: padding-left 0.4s ease;
}



#text-container::before {
  content: ' ';
  position: absolute;
  left: 0; top: 0; bottom: 0;
  width: 5px;
  background: #D4547A;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

#text-container:hover::before {
  transform: scaleY(1);
  padding-left: "start-your-journey", "greeting-message" 1.5rem;
}

#text-container:hover .greeting-message,
#text-container:hover .start-your-journey {
  padding-left: 1rem;
}

#text-container{
  position: relative;
  transition: padding-left 0.5s ease;
  margin-left: 50px;
  gap: 10px;
}

#horizontal-line-1{
  border-top: 1px solid #D4547A; 
  width: 85%;    
  align-self: flex-start;
  margin: 10px 0;   
  margin-left: 50px;
}


#horizontal-line-2 {
  border-top: 1px solid #D4547A; 
  width: 85%;    
  align-self: flex-start;
  margin: 10px 0;   
  margin-left: 50px;
}

#chat-history-box {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

#session-card {
  height: 80px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid black;
}




/*ONBOARDING*/

#onboarding,
#onboarding-2,
#onboarding-3,
#onboarding-4 {
    height: 100vh;
    width: 100vw;
    background-color: #100f10;
    background-image: 
        radial-gradient(circle at right bottom, #070707 0%, transparent 100%),
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='grain'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='6' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23grain)' opacity='0.20'/%3E%3C/svg%3E");
    background-size: cover, 200px 200px, 60px 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#onboardingContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  gap: 10px;
}

.freynmantechnique {
  font-family: "SfProFont";
  font-size: 15px;
  color:#5f5f5c;
  margin-top: 33vh;
}

.SomeOnboarding1 {
  font-family: "SfProFont";
  font-size: 20px;
  color:#D4547A;
}

.WhatsYourTopic {
  font-family: "SfProFontBold";
  font-size: 50px;
  color: #fffaed; 
}

#topic-input {
  width: 50%;
  height: 27px;
  border-radius: 20px;
  background-color: #070707;
  border: none;
  font-family: "SfProFont";
  color:#fffaed;

  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  margin-top: 20px;
}

#topic-input::placeholder{
  color:#fffaed;
  align-self: center;
}

#topic-input:focus {
  color:#D4547A;
  transition: 3s ease-in-out;
  align-self: center;
}


#next-1 {
  height: 80px;
  width: 80px;

  font-size: 50px;
  font-family: "TheSeasonsRegular";

  align-self: center;

  border-radius: 50%;
  border: none;
  background-color: #fffaed;

  margin-top: 20px;
}


#next-1:hover {
  transition: transform 0.5s ease-in-out, 0.4s ease-in-out;
  transform: scale(1.1);
  color:#fffaed;
  background-color: #D4547A;
}

/*ONBOARDING TWO*/

#onboardingContainer2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.WhatsYourLearningLevel {
  font-family: "SfProFontBold";
  font-size: 50px;
  color: #fffaed;
}

.SomeOnboarding2 {
  font-family: "SfProFont";
  font-size: 20px;
  color: #D4547A; 
}

#level-select {
  width: 50%;
  height: 27px;
  border-radius: 20px;
  background-color: #070707;
  border: none;
  font-family: "SfProFont";
  color:#fffaed;

  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  margin-top: 20px;
}

#level-select, 
#level-select::picker(select) {
  appearance: base-select;
  padding-right: 5px;
  font-size: 15px;
  font-family: "SfProFont";
}

#level-select::picker(select) {
  background-color: #070707;
  border-radius: 15px;
  padding: 5px;
  font-size: 15px;
  font-family: "SfProFont";
}

#level-select option {
  padding: 10px;
  background-color: transparent;
  color: #fffaed;
  font-size: 15px;
  font-family: "SfProFont";
}

#level-select option:hover,
#level-select option:checked {
  background-color: #D4547A; 
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "SfProFont";
}

#next-2 {
  height: 80px;
  width: 80px;

  font-size: 50px;
  font-family: "TheSeasonsRegular";

  align-self: center;

  border-radius: 50%;
  border: none;
  background-color: #fffaed;

  margin-top: 20px;
}


#next-2:hover {
  transition: transform 0.5s ease-in-out, 0.4s ease-in-out;
  transform: scale(1.1);
  color:#fffaed;
  background-color: #D4547A;
}


/*ONBOARDING THREE*/

#onboardingContainer3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.proficiencyLevel {
  font-family: "SfProFontBold";
  font-size: 50px;
  color: #fffaed;
}

.SomeOnboarding3 {
  font-family: "SfProFont";
  font-size: 20px;
  color: #D4547A; 
}

#proficiency-select {
  width: 50%;
  height: 27px;
  border-radius: 20px;
  background-color: #070707;
  border: none;
  font-family: "SfProFont";
  color:#fffaed;

  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  margin-top: 20px;
}

#proficiency-select, 
#proficiency-select::picker(select) {
  appearance: base-select;
  padding-right: 5px;
  font-size: 15px;
  font-family: "SfProFont";
}

#proficiency-select::picker(select) {
  background-color: #070707;
  border-radius: 15px;
  padding: 5px;
  font-size: 15px;
  font-family: "SfProFont";
}

#proficiency-select option {
  padding: 10px;
  background-color: transparent;
  color: #fffaed;
  font-size: 15px;
  font-family: "SfProFont";
}

#proficiency-select option:hover,
#proficiency-select option:checked {
  background-color: #D4547A; 
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "SfProFont";
}

#next-3 {
  height: 80px;
  width: 80px;

  font-size: 50px;
  font-family: "TheSeasonsRegular";

  align-self: center;

  border-radius: 50%;
  border: none;
  background-color: #fffaed;

  margin-top: 20px;
}


#next-3:hover {
  transition: transform 0.5s ease-in-out, 0.4s ease-in-out;
  transform: scale(1.1);
  color:#fffaed;
  background-color: #D4547A;
}

/*ONBOARDING FOUR*/

#onboardingContainer4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;

  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
  overflow: visible;
}

#centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 0px;
}

.freynmantechnique4 {
  font-family: "SfProFont";
  font-size: 15px;
  color:#5f5f5c;
  align-self: center;
  margin-top: 0px;
}

.UploadFile {
  font-family: "SfProFontBold";
  font-size: 50px;
  color: #fffaed;
}

.SomeOnboarding4 {
  font-family: "SfProFont";
  font-size: 20px;
  color: #D4547A; 
}

#inputDiv {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type="file"]::file-selector-button {
  background: #070707;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "SfProFont";
  color:#fffaed;
  width: 120px;
  height: 27px;
  overflow: hidden;
  transition: all 0.4s ease;
}

input[type="file"] {
  width: fit-content;
  color: #fffaed;
  overflow: hidden;
  white-space: nowrap;
  font-family: "SfProFont";
  font-size: 15px;
  margin-left: 90px;
  margin-top: 15px;
}


input[type="file"]::file-selector-button:hover {
  background-color: #D4547A;
}


#fileButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

#start-chat-button {
  height: 80px;
  width: 80px;

  font-size: 50px;
  font-family: "TheSeasonsRegular";

  align-self: center;

  border-radius: 50%;
  border: none;
  background-color: #fffaed;

  margin-top: 20px;
}


#start-chat-button:hover {
  transition: transform 0.5s ease-in-out, 0.4s ease-in-out;
  transform: scale(1.1);
  color:#fffaed;
  background-color: #D4547A;
}

#skip {
  height: 80px;
  width: 80px;

  font-size: 50px;
  font-family: "TheSeasonsRegular";

  align-self: center;
  align-content: center;

  border-radius: 50%;
  border: none;
  background-color: #fffaed;

  margin-top: 20px;
}


#skip:hover {
  transition: transform 0.5s ease-in-out, 0.4s ease-in-out;
  transform: scale(1.1);
  color:#fffaed;
  background-color: #D4547A;
}


/*CHAT SCREEN!!!!*/

#chat-screen {
    height: 100vh;
    width: 100vw;
    background-color: #100f10;
    background-image: 
        radial-gradient(circle at right bottom, #070707 0%, transparent 100%),
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='grain'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='6' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23grain)' opacity='0.20'/%3E%3C/svg%3E");
    background-size: cover, 200px 200px, 60px 60px;

  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}


#chat-history-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 80%
}

.coolTitle {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 35px;
}

.freynmantechnique5{
  font-family: "SfProFont";
  font-size: 15px;
  color:#5f5f5c;
  align-self: center;
  margin-top: 10px;
}

.message-bubble {
  max-width: 70%;
  border-radius: 20px;
  font-family: "SfProFont";
  font-size: 15px;
  color:#fffaed;
  line-height: 1.6;
  padding: 12px 16px;
}

.userBubble {
  background-color: #D4547A;
  align-self: flex-end;
  border-bottom-right-radius: 4px;

}

.aiBubble {
  background-color: #070707;
  align-self: flex-start;
  border-bottom-left-radius: 4px;

}


#chat-input-area {
  display: flex;
  padding: 16px 20px;
  gap: 10px;
  background:transparent;
}

#user-input {
  flex: 1;
  background: #070707;
  border-radius: 20px;
  padding: 12px 15px;
  color:#fffaed;
  font-family: "SfProFont";
  font-size: 15px;
  resize: none;
  height: 50px;
  border: none;
}

#whiteboard-container {
  display: flex;
  flex-direction: column;
}


#whiteboard {
  width: 95%;
  height: 300px;
  background: #fffaed;
  border: 1px solid #D4547A;
  border-radius: 20px;
  max-height: 50vh;
}

#whiteboard-controls {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  flex-direction: row;
}

#submit-drawing,
#clear-board,
#whiteboard-toggle {
  height: 40px;
  border-radius: 20px;
  background:#070707;
  border: none;
  font-family: "SfProFont";
  font-size: 15px;
  color:#fffaed;
  width: 100px;
  transition: background 0.4s ease-in-out;
  margin-left: 16px;
}

#submit-drawing:hover,
#clear-board:hover,
#whiteboard-toggle:hover {
  height: 40px;
  border-radius: 20px;
  background:#D4547A;
  border: none;
  font-family: "SfProFont";
  font-size: 15px;
  color:#fffaed;
}

#send-button {
  height: 40px;
  width: 40px;
  background-color: #fffaed;
  border: none;
  font-size: 15px;
  font-family: "TheSeasonsRegular";

  align-content: center;
  border-radius: 20px;
  border: none;
  color: #070707;

  transition: background 0.4s ease;
  align-self: center;

}

#send-button:hover {
  background: #D4547A;
  color:#fffaed;
}


#user-input:focus {
  color:#D4547A;
  transition: 3s ease-in-out;
  align-self: center;
}

.whiteboard-open #chat-history-box {
    max-height: 40vh;
    flex: none;
}

.whiteboard-open #whiteboard {
    flex: 1;
    width: 100%;
    height: 300px;
  }


/*COLORS
Background: warm sandy beige #fffaed
Wood tones: #8B6914 and #C4956A
Ocean blue: #4A9BAD , GRADIENT: c5edf8
Palm green: #5A8A6A
Accent pops: coral #E8724A and hibiscus pink #D4547A
Text: dark driftwood #6a574a
*/